<div >
  <button ng-click="create()" class="btn btn-default" ng-hide="show_form">新建</button>
  <div ng-show="show_form">
    <form role="form">
      <div class="form-group">
        <label for="title">标题:</label>
        <input type="text"  class="form-control" ng-model="form.title"/>
      </div>
      <div class="form-group">
        <label for="content">内容：</label>
        <textarea rows="18"  class="form-control" ui-tinymce ng-model="form.content"></textarea>
      </div>
      <div class="form-group">
        <label for="date">时间：</label>
        <input type="text"  class="form-control" ng-model="form.date" readonly="true"/>
      </div>
      <button class="btn btn-default" ng-click="save()">保存</button>
      <button class="btn btn-default" ng-click="cancel()">取消</button>
    </form>
  </div>

  <div ng-repeat="post in posts">
    <div class="post-title">
      {{post.title}}
    </div>
    <div ng-bind-html="post.content"></div>
    <div class="post-foot">
      {{timestring(post.date)}}
      <a ng-click="update(post)">修改</a>
    </div>
  </div>
  <div class="pager">
    <a ng-click="getPosts(page=0,size)"> << </a> &nbsp
                                            <a ng-click="getPosts(page=(page>0?page-1:0),size)"> < </a> &nbsp
                                                                                                   <input ng-model="page">/{{page_count}} &nbsp
                                                                                                   <a ng-click="getPosts(page=(page<page_count?page+1:page_count),size)"> > </a> &nbsp
                                            <a  ng-click="getPosts(page=page_count,size)"> >> </a>
    <script src="http://tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
      tinymce.init({
      selector: "textarea",
      plugins: "code",
      entity_encoding : "raw",
      add_unload_trigger : false,
      remove_linebreaks : false,
      apply_source_formatting : false
      });
    </script>

  </div>
